body {
    margin: 0;
}

h1,p {
    margin: 0;
}

.top-container {
    background-color: #a9eec2;
}
.middle-container {
    background-color: #fad284;
    width: 200px;
    height: 200px;
}
.bottom-container {
    background-color: #f38181;
    width: 200px;
    height: 200px;
}
